body {
  background-color: #35414B;
  margin: 0;
}
.header {
  position: sticky;
  background: #0F2539;
  top: 0;
  height: 75px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: #B2D68E;
  letter-spacing: 2px;
}
.heads {
  position: absolute;
  width: 70%;
  text-align: center;
}
.header span {
  color: #D2C73E;
}
.body {
  display: flex;
  float: left;
  width: 100%;
  margin-top: 1%;
}
.prod {
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  padding: 10px;
  background: #35414B;
  width: 100%;
  text-align: center;
  height: fit-content;
}
.product {
  position: relative;
  padding: 10px;
  width: 20%;
  margin-left: 1%;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  border-radius: 30px;
}
.product img {
  max-width: 100%;
}
.amount {
  color: black;
  background-color: #ffffee;
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
}
.product h2 {
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 251, 251);
}
.price {
  margin-bottom: 20px;
  color: rgb(53, 4, 4);
  font-size: 18px;
  font-weight: 500;
}
.del {
  background-color: #c74444;
  border: 1px solid #ab1818;
  cursor: pointer;
  width: 45px;
  position: relative;
  height: 30px;
  text-align: center center;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
  text-shadow: 0px 1px 0px #662727;
}
.del:hover {
  background-color: #bf2a2a;
}
.del:active {
  position: relative;
  top: 1px;
}
.add {
  background-color: #44c767;
  border: 1px solid #18ab29;
  margin-left: 25px;
  width: 45px;
  cursor: pointer;
  position: relative;
  height: 30px;
  text-align: center center;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.add:hover {
  background-color: #5cbf2a;
}
.add:active {
  position: relative;
  top: 1px;
}
.basket {
  position: relative;
  text-align: center;
  flex-direction: column;
  margin-bottom: 5px;
  color: #D2C73E;
  height: auto;
}
.basket img {
  position: relative;
  margin-top: 4%;
  max-width: 15%;
}
.basket h2{
  font-size: 15px;
}
.basket2 {
  position: relative;
  text-align: center;
  flex-direction: column;
  margin-bottom: 5px;
  color: #D2C73E;
  height: auto;
}
.basket2 button {
  background-color: #44c767;
  border: 1px solid #18ab29;
  cursor: pointer;
  position: relative;
  height: 30px;
  text-align: center center;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.basket2 button:hover {
  background-color: #5cbf2a;
}
.basket2 button:active {
  position: relative;
  top: 1px;
}
.dropbtn {
  background-color: #0F2539;
  color: white;
  padding: 16px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}

.dropdown {
  margin-left: -25%;
  margin-right: 70%;
  display: inline-block;
  position: relative;
  flex-direction: column;
  width: 3%;
  height: 75%;
  padding: 10px;
}

.dropdown-content {
  display: none;
  margin-left: -20%;
  position: absolute;
  background-color: #0F2539;
  width: 300px;
  margin-top: 10px;
  z-index: 1;
  font-size: 20px;
  font-weight: 600;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
